{% extends "auth_base.html" %}
{% block form_title %}🔐 登录{% endblock %}
{% block form_subtitle %}欢迎回到 AgentForge{% endblock %}
{% block form_content %}
<form action="/login" method="post">
    <input type="hidden" name="next" value="{{ next or '' }}">
    <div class="form-group">
        <label for="username">用户名</label>
        <input class="input" id="username" type="text" name="username" required autofocus>
    </div>
    <div class="form-group">
        <label for="password">密码</label>
        <input class="input" id="password" type="password" name="password" required>
    </div>
    <button class="btn" type="submit">登录</button>
</form>
<div class="footer-link">
    还没有账号？<a href="/register">注册</a>
</div>
{% endblock %}
